.post {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.post h2 {
  border-bottom: 1px solid black;
  padding: 5px;
}

.post p {
  padding: 1rem;
}
